* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  color: #fff;
  overflow-x: hidden;
}

/* Fondo animado */
.fondo {
  position: fixed;
  inset: 0;
  background: linear-gradient(120deg, #5f2cff, #1e90ff, #8a2be2);
  background-size: 300% 300%;
  animation: fondo 12s infinite ease-in-out;
  z-index: -1;
}

@keyframes fondo {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 20px;
}

.logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;      /* ?? redondo */
  object-fit: cover;      /* no se deforma */
  box-shadow: 0 0 12px rgba(95,44,255,0.7); /* glow morado */
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.1) rotate(4deg);
  box-shadow: 0 0 22px rgba(30,144,255,0.9);
}

.titulo {
  font-size: 2.3rem;
  letter-spacing: 2px;
}

/* Layout */
.contenedor {
  display: grid;
  grid-template-columns: 240px 1fr 420px;
  gap: 25px;
  padding: 25px;
}

/* Botonera */
.botonera {
  display: flex;
  flex-direction: column;
  gap: 12px;

  height: 70vh;        /* ? altura fija real */
  overflow-y: auto;   /* ? barra vertical */
  overflow-x: hidden;

  padding-right: 8px;
}
/* Scroll personalizado botonera */
.botonera::-webkit-scrollbar {
  width: 6px;
}

.botonera::-webkit-scrollbar-thumb {
  background: #5f2cff;
  border-radius: 10px;
}

.botonera::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.3);
}


.botonera button {
  padding: 12px;
  border: none;
  background: rgba(0,0,0,0.45);
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.botonera button:hover {
  background: #5f2cff;
  transform: translateX(5px);
}

/* Descripción */
.descripcion {
  background: rgba(0,0,0,0.45);
  padding: 25px;
  border-radius: 12px;
  min-height: 380px;
}

.descripcion h2 {
  margin-bottom: 15px;
}

/* Carrusel */
.carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrusel img {
  width: 100%;
  max-width: 420px;
  height: 420px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

/* Footer */
.footer {
  margin-top: 5px;
  padding: 5px;
  text-align: center;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 12px;
}

.redes button {
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  background: #1e90ff;
  color: #fff;
  cursor: pointer;
}

.redes button:hover {
  background: #5f2cff;
}
