* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(120deg, #050b1e, #3a0ca3);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
}

/* BOTÓN INICIO */
.btn-inicio {
  position: fixed;
  top: 15px;
  left: 15px;
  text-decoration: none;
  color: #0ff;
  border: 1px solid #0ff;
  padding: 8px 14px;
  border-radius: 20px;
}

/* CONTENEDOR */
.contenedor {
  max-width: 420px;
  margin: 100px auto;
  background: rgba(0,0,0,0.7);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 20px #0ff;
}

/* TEXTO */
h1 {
  text-align: center;
  margin-bottom: 5px;
}

.aviso {
  text-align: center;
  opacity: 0.8;
  margin-bottom: 20px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
}

/* LABELS */
label {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* INPUTS (CLAVE) */
input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

/* TEXTAREA */
textarea {
  min-height: 100px;
  resize: vertical;
}

/* BOTÓN */
button {
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background: #0ff;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #00caca;
}